[class*='col-'] {
	float: left;
}

header {
	background: black;
    height: 50px;
}

.headerBackground {
	height: 50px;
	width: 100%;
	background: black;
    overflow: hidden;
}

.centrirano {
 	max-width:960px;
 	min-width: 960px;
 	margin-left:auto;
	margin-right:auto;
	background-color: black;
}

.logo {
	float: left;
}

.gumb {
    background-color: #000;
    border: none;
    color: white;
    padding: 1.4% 1%;
    text-decoration: none;
  	font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.gumb:hover {
    background-color: #3399ff;
    color: white;
}

input[type=text] {
	outline-width: 0;
	border: 2px solid #000;
    width: 45%;
    border-radius: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url('icons/iskalnik.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    margin-top: 7px;
    float: left;
}

form {
	margin: 0;
}

body {
	background: #F0F0F0; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebarText {
	font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.main {
	width:960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

ul.tab {
    list-style-type: none;
    margin-top: 10px;
    padding-top: 0;
    overflow: hidden;
    border: 1px solid #C8C8C8;
    background-color: white;
}

ul.tab li {
    float: right;
}

ul.tab p {
    float: left;
}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #C8C8C8;

}

ul.tab li a:focus, .active {
    background-color: #A8A8A8;
    color: white;
}

.vsebinaTab {
    background-color: white;
    border: 1px solid #C8C8C8;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.vprasanje {
    border-bottom: 1px solid #C8C8C8;
}

.voteimg {
    display:block;
}

h1 {
    color: white;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 35px;
    line-height: 0%

}

article {
	background: white;
    padding-left: 1%;
}

table {
    padding-top: 1%;
    padding-bottom: 1%;
}