[class*='col-'] {
	float: left;
}

header {
	background: black;
}

.headerBackground {
	height: 50px;
	width: 100%;
	background: black;
}

.centrirano {
 	max-width:960px;
 	min-width: 960px;
 	margin-left:auto;
	margin-right:auto;
	background-color: black;
}

.logo {
	float: left;
}

.gumb {
    background-color: #000;
    border: none;
    color: white;
    padding: 13.5px 10px;
    text-decoration: none;
  	font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    float: right;
}

.gumb:hover {
    background-color: #696969; /* :D */
    color: white;
}

input[type=text] {
	outline-width: 0;
	border: 2px solid #000;
    width: 45%;
    border-radius: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url('icons/iskalnik.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    margin-top: 7px;
    float: left;
}

form {
	margin: 0;
}

body {
	background: #F0F0F0; 
    margin: 0;
}

.sidebarText {
	font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.main {
	width:960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

h1 {
    color: white;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 35px;
    line-height: 0%

}

article {
	background: white;
}