.centrirano {
 	max-width:960px;
 	min-width: 960px;
 	margin-left:auto;
	margin-right:auto;
	background-color: black;
}

.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}
body {
	background: black;
}