<div class="headerBackground">
      <div class="centrirano">
      	<div class="footerContent">
        <a href="/login">Prijava</a> | 
        <a href="/registration">Registracija</a> |
        <a href="/vprasaj">Vprašaj</a><br>
        Avtor: Matevž Cesar
        </div> 
        </div>
      </div>