<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/landing.css">
<link rel="icon" href="../public/icons/favicon2.png">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<title>Radovednez</title>
	<body onload="odpritab()">
		<header>
		<div class="headerBackground">
		<div class="centrirano">
			<div class="logo"><a href=""><img src="../public/icons/logo2.png" alt="logo"/></a></div>
			<form>
  				<input class="iskalnik" type="text" name="iskalnik" placeholder="Isci...">
			</form>
			<a href="vprasaj.html" class="gumb">vprašaj</a>
			<a href="login.html" class="gumb">vpis</a>
			<a href="registration.html" class="gumb">registracija</a>
		</div>
		</div>
		</header>
		<div class ="main">
			<ul class="tab">
			 	<li><a href="javascript:void(0)" class="tabs" onclick="odpriTab(event, 'vsehcasov')">vseh časov</a></li>
			 	<li><a href="javascript:void(0)" class="tabs" onclick="odpriTab(event, 'meseca')">meseca</a></li>
			 	<li><a href="javascript:void(0)" class="tabs" onclick="odpriTab(event, 'tedna')">tedna</a></li>
			 	<li><a href="javascript:void(0)" class="tabs" onclick="odpriTab(event, 'trenutno')" id="prviTab"> top trenutno</a></li>
			  	<li><a href="javascript:void(0)" class="tabs" onclick="odpriTab(event, 'novo')">novo</a></li>
			  	<li><p class = "bold"> Razvrsti vpršanja </p></li>
			</ul>
			<div id="trenutno" class="vsebinaTab">
				<div class ="vprasanje">
					<table>
						<tr>
							<td class="votecell">
								<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
								<span>32</span>
								<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
							</td>
							<td class="questcell">
								<article>
									<h2> <a href="vprasanje.html">Kako si zavezati čevlje?</a> </h2>
									<p> Zanima me kako naj si zavežem čevlje. Sem se že trudil, ampak vedno ko začnem samo strmim v vezalke in nevem kaj naprej. Mi lahko kdo pomaga?</p>
								</article>
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								<span>
									<a class="temaTag">čevljarstvo</a>
									<a class="temaTag">splošno</a>
									<a class="temaTag">tehnika</a>
								</span>
							</td>
						</tr>
					</table>
				</div>
				<div class ="vprasanje">
					<table>
						<tr>
							<td class="votecell">
								<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
								<span>12</span>
								<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
							</td>
							<td class="questcell">
								<article>
									<h2> Zakaj se zemlja vrti?</h2>
									<p> Zanima me zakaj se zemlja vrti. Mar nebi bilo bolje, če bi bil zmeraj dan?</p>
								</article>
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								<span>
									<a class="temaTag">znanost</a>
									<a class="temaTag">vesolje</a>
									<a class="temaTag">planeti</a>
								</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	<footer>
	<div class="headerBackground">
      <div class="centrirano">
      	<div class="footerContent">
        <a href="login.html">Prijava</a> | 
        <a href="registration.html">Registracija</a> |
        <a href="vprasaj.html">Vprašaj</a><br>
        Avtor: Matevž Cesar
        </div> 
        </div>
      </div>
    </footer>
	<script src="../public/js/landing.js"></script>
	</body>
</html>