<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/landing.css">
<link rel="icon" href="../public/icons/favicon2.png">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<title>Radovednez</title>
	<body>
		<header>
		<div class="headerBackground">
		<div class="centrirano">
			<div class="logo"><a href=""><img src="../public/icons/logo2.png" alt="logo"/></a></div>
			<form>
  				<input class="iskalnik" type="text" name="iskalnik" placeholder="Isci...">
			</form>
			<a href="vprasaj.html" class="gumb">vprašaj</a>
			<a href="login.html" class="gumb">vpis</a>
			<a href="registration.html" class="gumb">registracija</a>
		</div>
		</div>
		</header>
		<div class ="main">
			<ul class="tab">
			 	<li><a href="/" class="tabs" onclick="odpriTab(event, 'vsehcasov')" id ="vsehvcasovTab">vseh časov</a></li>
			 	<li><a href="/meseca" class="tabs" onclick="odpriTab(event, 'meseca')" id="mesecaTab">meseca</a></li>
			 	<li><a href="/tedna" class="tabs" onclick="odpriTab(event, 'tedna')" id ="tednaTab">tedna</a></li>
			  	<li><a href="/novo" class="tabs" onclick="odpriTab(event, 'novo')" id ="novoTab">novo</a></li>
			  	<li><p class = "bold"> Razvrsti vpršanja </p></li>
			</ul>
			<div id="trenutno" class="vsebinaTab">
			<% seznamVprasanj.forEach(function(vprasanje) { %>
				<div class ="vprasanje">
				<% var vprasanje_vsebina = vprasanje.dataValues.vprasanje_objave; %>
				<% var vsebina = vprasanje.dataValues.vsebina_objave; %>
				<% var vseckov = vprasanje.dataValues.vseckov; %>
				<table>
						<tr>
							<td class="votecell">
								<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
								<span><%=vseckov %></span>
								<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
							</td>
							<td class="questcell">
								<article>
									<h2> <a href="vprasanje.html"><%=vprasanje_vsebina %></a> </h2>
									<p> <%=vsebina %></p>
								</article>
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
								<span>
									<a class="temaTag">čevljarstvo</a>
									<a class="temaTag">splošno</a>
									<a class="temaTag">tehnika</a>
								</span>
							</td>
						</tr>
					</table>
				</div>
			<% }); %>
				
			</div>
		</div>
	<footer>
	<div class="headerBackground">
      <div class="centrirano">
      	<div class="footerContent">
        <a href="login.html">Prijava</a> | 
        <a href="registration.html">Registracija</a> |
        <a href="vprasaj.html">Vprašaj</a><br>
        Avtor: Matevž Cesar
        </div> 
        </div>
      </div>
    </footer>
	<script src="../public/js/landing.js"></script>
	</body>
</html>