<!DOCTYPE html>
<html>
	<head>
		<% include defs2 %>
		<title>Vpis</title>
	</head>
	<body>
		<div class="centrirano">
			<div class="logocontainer">
			<a href="/"><img class="logo" src="../public/icons/loginLogo.png" alt="logo"/></a>
			</div>
			<div class="fieldcontainer">
				<form class="article-comment" method="POST" action="/login">
			    <input type="text" placeholder="Uporabnisko ime" name="uporabnisko" pattern=".{5,20}[a-zA-Z0-9]" required>
			    <input type="password" placeholder="Geslo" name="geslo" pattern=".{5,20}[a-zA-Z0-9]"  required>
			    <button type="submit">Prijava</button>
			    </form>
			    <div class="regtext"> Še niste uporabnik? <a href="/registration" class="reglink"> Registracija</a></div>
			</div>
		</div>
	</body>


</html>