<!DOCTYPE html>
<html>
<% include defs %>
	<body>
		<header>
		<% include header %>
		</header>
		<div class= "main">
			<div class="vprasanjeContainer">
				<div class="novVnosContainer">
				<form class="article-comment" method="POST" action="/objavi_vprasanje">
				<table>
					<tr>
						<td>Vaše vprašanje: </td>
						<td><input class="novVnos" type="text" maxlength="30" name="vprasanje" pattern=".+\?" required></td>
					</tr>
					<tr>
						<td>Opis problema:</td>
						<td><textarea rows="4" cols="50" name="opis" required></textarea></td>
					</tr>
				</table>
				<button class="gumbOdgovori">Objavi</button>
				</form>
				</div>
			</div>
		</div>
	<footer>
		<% include footer %>
    </footer>
	<script src="../public/js/landing.js"></script>
	</body>
</html>